@import "../bower_components/bootstrap/less/bootstrap.less";

//Composite depuis color.adobe.fr
@c-1:	#0149A5;
@c-2:	#023271;
@c-3:	#00255A;
@c-4:	#751F02;
@c-5:	#0C0D10;


@grid-columns: 16;

.main-header {
	margin-bottom: 5px;
	.topbar {
		background-color:  lighten(@gray-base, 96.7%);
		height: 25px;
		.make-row();
		.main-title {
			color: lighten(@gray-base, 35%);
			font-family: 'Indie Flower', cursive;
			font-size: 18px;
			.make-lg-column(4);
			.make-lg-column-push(1);
		}


		.topbar-add-session-button {
			text-align: right;
			.make-lg-column(5);
			.make-lg-column-push(6);

		}
	}
	.search {
		.make-row();
		padding-top: 40px;
		padding-bottom: 40px;
		.search-container {
			.make-lg-column(10);
			.make-lg-column-push(3);
		}
	}
}

.page {
	background-color:  lighten(@gray-base, 96.7%);
	.make-row();
}
.menu-left-container {
	
	.make-lg-column(2);
	.make-lg-column-push(1);
	height: 750px;
}

.content {
	.make-lg-column(11);
	.make-lg-column-push(1);
}


.signin {
	width: 100%;
	height: 100%;

	position: absolute;
	text-align: center;
	h1 {
		margin-top: 130px;
		margin-bottom: 80px;
		font-family: 'Indie Flower', cursive;
		font-size: 100px;
		color: #FFF;
	}
	p
	{
		margin-top: 20px;
		color: #DDD;
		font-family: 'Open Sans', serif;
	}
	button {
		.btn();
		font-family: 'Open Sans', serif;
		letter-spacing: 2px;
		.button-variant(#666, white, #DDD);
		.button-size(15px, 15px, 18px, 18px, 2px);
	}
}

body {
	background: url('../img/mtp.gif') fixed;
}


.home-sessions {

	.session {
		padding: 15px;
		background: white;
		border-radius: 10px;
		border: 1px solid;
		border-color: #e5e6e9 #dfe0e4 #d0d1d5;
		margin-bottom: 20px;

		h3 {
			font-size: 20px;
			margin: 0;
		}

		.session-infos {
			color: @gray-light;
			font-size: 12px;
			text-align: right;
		}
	}

}

.user-infos {
	margin-top: 20px;
	text-align:center;
	img {
		width: 80px;
		height: 80px;
	}
	&:after {
		content:"";
		display: block;
		width: 80%;
		margin: auto;
		height: 1px;
		background-color: rgba(0,0,0,0.05);
	}
}

.session-title {
	text-align: center;
	h1 {
		color: white;
	}
	p {
		color: @gray-lighter;
	}
}