<header class="main-header">
      <div class="topbar">
      <div class="main-title">Session Montpellier</div>
      </div>
      <div class="search">
        <div class="search-input">
          <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1"></span>
              <input type="text" class="form-control" placeholder="Rechercher une session" aria-describedby="sizing-addon1">
          </div>
        </div>
      </div>
  </header>
  <section class="page">
      <section class="menu-left-container">
        <div ui-view="menu-left"></div>
      </section>
      <section class="content">
        <a ui-sref="signin">home</a>
        <div ui-view="main-content"></div>
      </section>
  </section>
</div>